<div class="body-inner">
    <div class="book-header" role="navigation">
        <h1 style="margin-top:0;">
            <i class="fa fa-circle-o-notch fa-spin"></i>
            {% if page.title %}
                {{ page.title | escape | replace: "Work: ", "" }}
            {% else %}
                {{ site.title | escape }}
            {% endif %}
        </h1>
    </div>
    <div class="page-wrapper" tabindex="-1" role="main">
        <div class="page-inner">
            <div id="book-search-results">
                <div class="search-noresults">
                    <section class="normal markdown-section">
                        {% if page.image %}
                        <div class="home-item">
                        {% if page.title %}
                            <h1 id="{{ page.id }}" style="margin-top: 0;">{{ page.title | escape | replace: "Work: ", "" }}</h1>
                        {% endif %}
                        {% if page.layout == "post" %}
                        {% if page.end-date %}
                        <h3 style="margin-top: 0;">({{ page.date | date: "%b %Y" }} - {% if page.end-date %}}{{ page.end-date | date: "%b %Y" }} {% else %}Present {% endif %})</h3>
                        {% else %}
                        <h3 style="margin-top: 0;">{{ page.date | date: "%b %Y" }}</h3>
                        {% endif %}
                        {% endif %}

                        {{ content }}
                        </div>
                        <div class="home-item">
                            <span class="image ">
                              <img src="{{ page.image }}" alt="{{ page.title }}" />
                            </span>
                        </div>
                        {% else %}
                        {% if page.title %}
                            <h1 id="{{ page.id }}" style="margin-top: 0;">{{ page.title | escape | replace: "Work: ", "" }}</h1>
                        {% endif %}
                        {% if page.layout == "post" %}
                        {% if page.end-date %}
                        <h3 style="margin-top: 0;">({{ page.date | date: "%b %Y" }} - {% if page.end-date %}}{{ page.end-date | date: "%b %Y" }} {% else %}Present {% endif %})</h3>
                        {% else %}
                        <h3 style="margin-top: 0;">{{ page.date | date: "%b %Y" }}</h3>
                        {% endif %}
                        {% endif %}

                        {{ content }}
                        {% endif %}
                    </section>

                </div>

                 <!-- {%- include search.html -%} -->
            </div>
        </div>
    </div>
</div>
