<!-- NEW: No links -->
<h2>Upcoming Events</h2>
{% assign sortedRecords = site.data.classes.records | sort: 'fields.date-time' %}
{% for record in sortedRecords %}
{% if record.fields.publish == true | sort: record.fields.date-time %}
<div class="row">
      <div class="8u 12u(small)">
        <h4>{{ record.fields.title }} - {{ record.fields.date-time | date: "%R - %a %-d %b %Y" }}</h4>
        <p>{{ record.fields.description }}</p>
      </div>
      <div class="4u 12u(small)">
        <ul class="actions vertical">
          {% if record.fields.patreon == true %}<li><a href="{{ record.fields.link }}" class="button special">Join Class</a></li>{% endif %}
          {% if record.fields.patreon != true %}<li><a href="{{ record.fields.link }}" class="button">Join Class</a></li>{% endif %}
        </ul>
      </div>
    </div>
{% endif %}
{% endfor %}