<!-- Extras -->
<h2>Bass Extras</h2>

<!-- Binding -->
<button id="defaultOpen" class="accordion">Binding</button>
<div class="panel">
  	<table class="alt">
		<tbody>
			<tr> 
				<th width="60%"> </th>
    			<th width="10%">USD</th>
    			<th width="10%">EUR</th>
    			<th width="10%">GBP</th>
    			<th width="10%">DKK</th>
    		</tr>
			<tr>
				<td>Top binding</td>
				<td>160</td>
				<td>150</td>
				<td>130</td>
				<td>1,100</td>
			</tr>
			<tr>
				<td>Bottom binding</td>
				<td>160</td>
				<td>150</td>
				<td>130</td>
				<td>1,100</td>
			</tr>
			<tr>
				<td>F-hole binding</td>
				<td>160</td>
				<td>150</td>
				<td>130</td>
				<td>1,100</td>
			</tr>
			<tr>
				<td>Neck binding</td>
				<td>220</td>
				<td>200</td>
				<td>175</td>
				<td>1,500</td>
			</tr>
		</tbody>
	</table>
</div>

<!-- Hardware -->
<button class="accordion">Hardware</button>
<div class="panel">
  <table class="alt">
		<tbody>
			<tr> 
				<th width="60%"> </th>
    			<th width="10%">USD</th>
    			<th width="10%">EUR</th>
    			<th width="10%">GBP</th>
    			<th width="10%">DKK</th>
    		</tr>
			<tr>
				<td>Gold hardware and frets</td>
				<td>45</td>
				<td>40</td>
				<td>35</td>
				<td>300</td>
			</tr>
			<tr>
				<td>Locking tuners over standard</td>
				<td>20</td>
				<td>20</td>
				<td>20</td>
				<td>150</td>
			</tr>
			<tr>
				<td>Hipshot Bridge</td>
				<td>75</td>
				<td>70</td>
				<td>60</td>
				<td>500</td>
			</tr>
		</tbody>
	</table>
</div>

<!-- Pickups -->
<button class="accordion">Pickups</button>
<div class="panel">
	<p>Find out more about <a href="">our hand-wound pick-ups</a>.
  	<table class="alt">
		<tbody>
			<tr> 
				<th width="60%"> </th>
    			<th width="10%">USD</th>
    			<th width="10%">EUR</th>
    			<th width="10%">GBP</th>
    			<th width="10%">DKK</th>
    		</tr>
			<tr>
				<td>Extra PBass set</td>
				<td>160</td>
				<td>150</td>
				<td>130</td>
				<td>1,100</td>
			</tr>
			<tr>
				<td>Swap for Jazzbass set</td>
				<td>15</td>
				<td>13</td>
				<td>10</td>
				<td>100</td>
			</tr>
			<tr>
				<td>Extra Jazzbass pickup</td>
				<td>90</td>
				<td>80</td>
				<td>70</td>
				<td>1,100</td>
			</tr>
			<tr>
				<td>Swap for Mustang pickups</td>
				<td>0</td>
				<td>0</td>
				<td>0</td>
				<td>0</td>
			</tr>
			<tr>
				<td>Extra Mustang pickup</td>
				<td>160</td>
				<td>150</td>
				<td>130</td>
				<td>1,100</td>
			</tr>
			<tr>
				<td>Swap for B90 pickups</td>
				<td>0</td>
				<td>0</td>
				<td>0</td>
				<td>0</td>
			</tr>
			<tr>
				<td>Extra B90</td>
				<td>75</td>
				<td>70</td>
				<td>60</td>
				<td>500</td>
			</tr>
			<tr>
				<td>Inbuilt passive Piezo circuit and pick-up</td>
				<td>130</td>
				<td>120</td>
				<td>105</td>
				<td>900</td>
			</tr>
		</tbody>
	</table>
</div>

<!-- Electronics -->
<button class="accordion">Electronics</button>
<div class="panel">
	<p>Find out more about <a href="">our hand-wound pick-ups</a>.
  	<table class="alt">
		<tbody>
			<tr> 
				<th width="60%"> </th>
    			<th width="10%">USD</th>
    			<th width="10%">EUR</th>
    			<th width="10%">GBP</th>
    			<th width="10%">DKK</th>
    		</tr>
			<tr>
				<td>3-way P-UP selector switch</td>
				<td>15</td>
				<td>13</td>
				<td>10</td>
				<td>100</td>
			</tr>
			<tr>
				<td>Tone knob</td>
				<td>17</td>
				<td>15</td>
				<td>14</td>
				<td>120</td>
			</tr>
			<tr>
				<td>Extra volume</td>
				<td>15</td>
				<td>13</td>
				<td>10</td>
				<td>100</td>
			</tr>
			<tr>
				<td>Blend Control</td>
				<td>60</td>
				<td>55</td>
				<td>50</td>
				<td>420</td>
			</tr>
			<tr>
				<td>6-way switch</td>
				<td>30</td>
				<td>25</td>
				<td>25</td>
				<td>200</td>
			</tr>
			<tr>
				<td>Push pull knob</td>
				<td>15</td>
				<td>13</td>
				<td>10</td>
				<td>100</td>
			</tr>
			<tr>
				<td>Inbuilt Moar hand-wired Overdrive effect</td>
				<td>300</td>
				<td>250</td>
				<td>250</td>
				<td>2000</td>
			</tr>
		</tbody>
	</table>
</div>

<!-- Inlays -->
<button class="accordion">Inlays</button>
<div class="panel">
  	<table class="alt">
		<tbody>
			<tr> 
				<th width="60%"> </th>
    			<th width="10%">USD</th>
    			<th width="10%">EUR</th>
    			<th width="10%">GBP</th>
    			<th width="10%">DKK</th>
    		</tr>
			<tr>
				<td>Custom Inlay (from)</td>
				<td>350</td>
				<td>335</td>
				<td>290</td>
				<td>2,500</td>
			</tr>
			<tr>
				<td>Inlay dots</td>
				<td>75</td>
				<td>70</td>
				<td>60</td>
				<td>500</td>
			</tr>
		</tbody>
	</table>
</div>

<!-- Neck and Fretboard -->
<button class="accordion">Neck</button>
<div class="panel">
  	<table class="alt">
		<tbody>
			<tr> 
				<th width="60%"> </th>
    			<th width="10%">USD</th>
    			<th width="10%">EUR</th>
    			<th width="10%">GBP</th>
    			<th width="10%">DKK</th>
    		</tr>
			<tr>
				<td>Carbon rods in neck</td>
				<td>120</td>
				<td>110</td>
				<td>95</td>
				<td>800</td>
			</tr>
			<tr>
				<td>23rd and 24th fret</td>
				<td>45</td>
				<td>40</td>
				<td>35</td>
				<td>300</td>
			</tr>
			<tr>
				<td>Compound Radius Fretboard</td>
				<td>60</td>
				<td>50</td>
				<td>45</td>
				<td>400</td>
			</tr>
		</tbody>
	</table>
</div>

<!-- Fun Stuff -->
<button class="accordion">Fun Stuff</button>
<div class="panel">
  	<table class="alt">
		<tbody>
			<tr> 
				<th width="60%"> </th>
    			<th width="10%">USD</th>
    			<th width="10%">EUR</th>
    			<th width="10%">GBP</th>
    			<th width="10%">DKK</th>
    		</tr>
			<tr>
				<td>Extra string</td>
				<td>380</td>
				<td>350</td>
				<td>305</td>
				<td>2,600</td>
			</tr>
			<tr>
				<td>Active electronics (from)</td>
				<td>160</td>
				<td>150</td>
				<td>130</td>
				<td>1100</td>
			</tr>
			<tr>
				<td>Nitro paint (from)</td>
				<td>750</td>
				<td>700</td>
				<td>600</td>
				<td>5,000</td>
			</tr>
			<tr>
				<td>Exotic woods (from)</td>
				<td>160</td>
				<td>150</td>
				<td>130</td>
				<td>1,100</td>
			</tr>
		</tbody>
	</table>
</div>