<!-- Wrapper -->
<div id="wrapper">

	<!-- Header -->
	<header id="header"{% if page.layout == "landing" %} class="alt style2"{% endif %}{% if page.layout == "home" %} class="alt"{% endif %}>
		<a href="{{ '../' | relative_url }}" class="logo"><h1 style="margin: 0;">john haynes</h1></a>
		<nav>
			<a href="#menu" style="text-decoration: none;"><h2 style="margin: 0;">Menu</h2></a>
		</nav>
	</header>

	<!-- Menu -->
	<nav id="menu">
		<ul class="links">
	        {% for page in site.pages %}
			    {% if page.layout == "home"%}
			        <li><a href="{{ '../' | relative_url }}" style="text-decoration: none;"><h1>{{ page.title }}</h1></a></li>
		    	{% endif %}
			{% endfor %}
			{% assign sorted_pages = site.html_pages | sort:"order" %}
			{% for page in sorted_pages %}
			    {% if page.layout != "home" and page.nav-menu == true | sort:"order" %}
			        <li><a href="{{ page.url | absolute_url }}" style="text-decoration: none;"><h1>{{ page.title }}</h1></a></li>
			    {% endif %}
			{% endfor %}
			{% for action in site.actions limit:1 %}
	            <li><a href="{{ action.url | absolute_url }}" class="special button fit">{{ action.label }}</a></li>
            {% endfor %}
	    </ul>
	</nav>
