<h3><a href="/pages/about">About Me</a></h3>
<p>Find out more about me</p>
<h3><a href="/pages/portfolio">Portfolio</a></h3>
<p>Explore projects I've worked on</p>
<h3><a href="/pages/ux-writing">Writing</a></h3>
<p>Read examples of things I've written</p>
<h3><a href="/pages/consultancy">Digital Consultancy</a></h3>
<p>I am available for ad hoc consultancy</p>
<h3><a href="https://docs.google.com/document/d/1UsToOEw2E-H-UJbSLEwUWHj_ysJP41To1s76jsNOEcE/edit?usp=sharing" target="_blank">Resumé ↗</a></h3>
<p>View my resume (via Google Docs)</p>
