<div class="table-wrapper">
    <table>
        <tbody>
            {% for post in site.posts %}
                <tr>
                    <td>
                        <a href="{{ post.url }}"><h4>{{ post.title }}</h4></a>
                        <h4>{{ post.date | date: "%-d %B %Y" }}</h4>
                    </td>
                    <td>
                        <p>{{ post.description }}</p>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

