/*- Custom style -*/

.breadcrumbs {
	padding:0.4rem;
	box-sizing: border-box;
	background: #e7f6fd;
	border-radius: 4px;
}

code {
    display:inline-block;
    background-color: transparent !important;
    color: #595959;
    white-space: normal;
    font-size: 0.9em;
}

blockquote {
    margin: 0;
    padding: 0 1.3rem;
}

.highlight {
    display:block;
    white-space:inherit;
    background-color: #f0f0f0;
    margin: 0;
    border-radius: 4px;
}

// -- Put custom style under this point -- //