<h3>John Haynes is a Senior Product Designer building a platform for a smarter, fairer entertainment industry at <a href="http://www.wegotpop.com">We Got POP</a></h3>
      <h4>About Me</h4>
      <p>I am a Senior Product Designer at <a href="http://www.wegotpop.com">We Got POP</a>, formerly CPO at <a href="http://www.yourwelcome.com">YourWelcome</a> and an erstwhile cameraman and content producer.</p>
      <p>I have considerable experience designing B2B SAAS products; user research & analysis, introducing design systems, improving the navigation and overall information architecture - overseeing the entire design process from ideation to deployment.</p>
      <p>My background on marketing has lead me to oversee the growth of two successful subscription products from the ground up; the Hairy Bikers’ Diet Club and YourWelcome. I’m currently deploying these skills on POP’s Crew Community.</p>
      <p>In my spare time:</p>
      <ul>
        <li>I play guitar as one half of the acoustic duo Stacey & John</li>
        <li>I enjoy getting out for a run</li>
        <li>I’m interested in the future of transport and have held an advisory position for GoVia Thameslink since 2015.</li>
      </ul>


