<!DOCTYPE HTML>
<html lang="en" >
    <head>

        {%- include head.html -%}

        {% assign reversed_posts = site.posts | reverse %}

        {% if reversed_posts %}
            <link rel="next" href="{{site.baseurl}}{{reversed_posts.first.url}}" />
        {% endif %}
    </head>
    <body>
        <div class="book">

            {%- include toc-date.html -%}

            <div class="book-body">
                <div class="body-inner">
                    <div class="page-wrapper" tabindex="-1" role="main">
                        <div class="page-inner">
                            <div id="book-search-results">
                                <div class="search-noresults">
                                    <!-- Details -->
                                    <section id="intro" class="spotlights" style="margin-top:2em;">
                                        {% if page.title %}
                                                <h1 id="{{ page.id }}" style="margin-top: 0;">{{ page.title | escape }}</h1>
                                            {% endif %}
                                            {% if page.description %}
                                                <h3 id="{{ page.id }}" style="margin-top: 0;">{{ page.description | escape }}</h3>
                                            {% endif %}

                                        {{ content }}
                                    </section>

                                    <!-- Contact -->
                                    <section id="contact">
                                        <div class="inner">
                                            <section>
                                                <h2>Mentorship Enquiry</h2>
                                                <form action="https://formspree.io/f/xjvjnkjl" method="POST">
                                                    <label for="name">Name and pronouns</label>
                                                    <div class="field half first">
                                                        <input type="text" name="name" id="name" placeholder="John (he/him)" />
                                                    </div>
                                                    <label for="email">Email</label>
                                                    <div class="field half">
                                                        <input type="text" name="_replyto" id="email" placeholder="mail@johnhayn.es" />
                                                    </div>
                                                    <label for="message">What can I help you with?</label>
                                                    <div class="field">
                                                        <textarea name="message" id="message" rows="6"></textarea>
                                                    </div>
                                                    <div style="margin-top: 1em;">
                                                        <input type="submit" value="Send Message" class="special" />
                                                        <!-- <input type="reset" value="Clear" /> -->
                                                    </div>
                                                </form>
                                            </section>
                                        </div>
                                    </section>
                                </div>

                                 <!-- {%- include search.html -%} -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- {%- include search.html -%} -->

            <script>
            var gitbook = gitbook || [];
            gitbook.push(function() {
                gitbook.page.hasChanged({%- include metadata-home.json.tpl -%});
            });
            </script>
        </div>

        {%- include footer.html -%}

    </body>
</html>