<!DOCTYPE HTML>
<html lang="en" >
    <head>

        {%- include head.html -%}

        {% assign reversed_posts = site.posts | reverse %}

        {% if reversed_posts %}
            <link rel="next" href="{{site.baseurl}}{{reversed_posts.first.url}}" />
        {% endif %}
    </head>
    <body>
        <div class="book">

            <!-- Blog -->
            <!-- {%- include toc-date.html -%} -->

            <div class="book-body">
                <div class="body-inner">
                    <div class="book-header" role="navigation">
                        <h1 style="margin-top: 0;">
                            <i class="fa fa-circle-o-notch fa-spin"></i>
                            {% if page.title %}
                                <a href="../" >{{ page.title | escape }}</a>
                            {% else %}
                                <a href="../" >{{ site.title | escape }}</a>
                            {% endif %}
                        </h1>
                    </div>
                    <div class="page-wrapper" tabindex="-1" role="main">
                        <div class="page-inner">
                            <div id="book-search-results">
                                <div class="search-noresults">
                                    {% if page.image %}
                                    <section class="normal markdown-section home-item-container">
                                        <div class="home-item">
                                            <h3 id="{{ page.id }}" style="margin-top: 0; margin-bottom: 1em;">Hello. I'm John, Senior Designer at Entertainment Partners.</h3>

                                            {% if page.layout == "post" %}
                                            {% if page.end-date %}
                                            <h3>({{ page.date | date: "%b %Y" }} - {{ page.end-date | date: "%b %Y" }})</h3>
                                            {% else %}
                                            <h3>{{ page.date | date: "%b %Y" }}</h3>
                                            {% endif %}
                                            {% endif %}

                                            {{ content }}
                                        </div>
                                        <div class="home-item">
                                            <span class="image ">
                                              <img src="{{ page.image }}" alt="{{ page.title }}" />
                                            </span>
                                        </div>
                                    </section>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <!-- {% if reversed_posts %}
                    <a href="{{site.baseurl}}{{reversed_posts.first.url}}" class="navigation navigation-next navigation-unique" aria-label="Next page: {{reversed_posts.first.title}}">
                        <i class="fa fa-angle-right"></i>
                    </a> 
                {% endif %} -->
            </div>

            <!-- {%- include search.html -%} -->

            <script>
            var gitbook = gitbook || [];
            gitbook.push(function() {
                gitbook.page.hasChanged({%- include metadata-home.json.tpl -%});
            });
            </script>
        </div>

        {%- include footer.html -%}

    </body>
</html>