<!DOCTYPE HTML>
<html lang="en" >
    <head>

        {%- include head.html -%}

        {% assign reversed_posts = site.posts | reverse %}

        {% if reversed_posts %}
            <link rel="next" href="{{site.baseurl}}{{reversed_posts.first.url}}" />
        {% endif %}
    </head>
    <body>
        <div class="book">

            <div class="book-body">
                <div class="body-inner">
                    <div class="page-wrapper" tabindex="-1" role="main">
                            <img src="{{ '../assets/images/john_hero_image.jpeg' | prepend: site.baseurl }}" alt="Presenting at CRAP talks in London" class="full-width-image">
                        <div class="page-inner">
                            <div id="book-search-results">
                                <div class="search-noresults">
                                    {% if page.image %}
                                    <section class="normal markdown-section home-item-container">
                                            {% if page.layout == "post" %}
                                            {% if page.end-date %}
                                            <h3>({{ page.date | date: "%b %Y" }} - {{ page.end-date | date: "%b %Y" }})</h3>
                                            {% else %}
                                            <h3>{{ page.date | date: "%b %Y" }}</h3>
                                            {% endif %}
                                            {% endif %}
                                            {{ content }}
                                    </section>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <script>
            var gitbook = gitbook || [];
            gitbook.push(function() {
                gitbook.page.hasChanged({%- include metadata-home.json.tpl -%});
            });
            </script>
        </div>

        {%- include footer.html -%}

    </body>
</html>