<!DOCTYPE html>
<html>

{% include head.html %}

<body>

    {% include header.html %} 
    
    
<!-- Main -->
<div id="main">

<!-- One -->
<section id="one">
    <div class="inner">
        <span class="breadcrumbs"><a href="{{ 'portfolio' | absolute_url }}">Portfolio</a> / {{ page.title }}</span>
        <header class="major">
            <h1>{{ page.title }}</h1>
        </header>
        {% if page.image %}<span class="image main"><img src="{{ site.baseurl }}/{{ page.image }}" alt="" /></span>{% endif %}
        <div id="password">
            <p>This content is password protected</p>
        </div>
        <p>{{ content }}</p>
    </div>
</section>

</div>

    {% include footer.html %}

</body>

</html>
