<!DOCTYPE html>
<html>

{% include head.html %}

<body>

    {% include header.html %} 
    
    
<!-- Main -->
<div id="main">

<!-- One -->
<section id="one">
    <div class="inner">
        <h1 style="margin:0;">{{ page.title }}</h1>
        <h3 style="margin:0;">{{ page.description }}</h3>
        <div class="inner row">
            <div class="8u 12u(small)">
                <p>{{ content }}</p>
            </div>
            <div class="4u 12u(small)">
            {% if page.image %}<span class="image main"><img src="{{ site.baseurl }}/{{ page.image }}" alt="" /></span>{% endif %}
            </div>
        </div>
    </div>
</section>

</div>

    {% include footer.html %}

</body>

</html>