<!DOCTYPE html>
<html>

    {% include head.html %}

    <body>

        {% include header.html %}

        <div id="main">
            <!-- <section class="inner row" style="background:#2F2F30; color:#EDEBF2;"> -->
            {% if site.description %}
            <section class="inner row">
                <!-- Image -->
                <div class="4u 12u(small)">
                    </div>
                    <!-- Intro text -->
                    <div class="12u 12u(small)">
                        <!-- {% if site.subtitle %}
                        <h2 style="margin-bottom:0.5em">{{ site.subtitle }}</h2>
                        {% endif %} -->
                        <h2>User Experience Portfolio</h2>
                        <p>A collection of my favourite projects from the places that I've worked and the impact they made.</p>
                        <p>Some articles are password protected, indicated by the padlock icon - please contact me to get access.</p>
                        <ul class="actions">
                            {% for action in site.actions limit:1 %}
                            <li><a href="{{ action.url | absolute_url }}" class="special button fit">{{ action.label }}</a></li>
                            {% endfor %}
                            {% for action in site.actions offset:1 %}
                            <li><a href="{{ action.url | absolute_url }}" class="button fit">{{ action.label }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
            </section>
            {% endif %}

            <!-- Blog Articles -->
            {% include portfolio-grid.html %}

            <section class="inner row">
                <div class="12u 12u(small)">
                    {% include footer.html %}
                </div>
            </section>
        </div>

    </body>

</html>