<!DOCTYPE html>
<html>

    {% include head.html %}

    <body>

        {% include header.html %}

        <div id="main">
            <!-- <section class="inner row" style="background:#2F2F30; color:#EDEBF2;"> -->
            {% if site.description %}
            <section class="inner row">
                <!-- Image -->
                <div class="4u 12u(small)">
                    </div>
                    <!-- Intro text -->
                    <div class="12u 12u(small)">
                        <!-- {% if site.subtitle %}
                        <h2 style="margin-bottom:0.5em">{{ site.subtitle }}</h2>
                        {% endif %} -->
                        <p>By day I am a product designer. By night I am also a product designer, but I'm not getting paid for it.</p>
                        <p>I started this blog to document the things I build at night. </p>
                        <ul class="actions">
                            {% for action in site.actions limit:1 %}
                            <li><a href="{{ action.url | absolute_url }}" class="special button fit">{{ action.label }}</a></li>
                            {% endfor %}
                            {% for action in site.actions offset:1 %}
                            <li><a href="{{ action.url | absolute_url }}" class="button fit">{{ action.label }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
            </section>
            {% endif %}

            <!-- Blog Articles -->
            {% include portfolio-grid.html %}

            {% include footer.html %}
        </div>

    </body>

</html>
