<!DOCTYPE HTML>
<html lang="en" >
    <head>

        {%- include head.html -%}

        {% if page.previous %}
            <link rel="prev" href="{{site.baseurl}}{{page.previous.url}}" />
        {% else %}
            <link rel="prev" href="{{site.baseurl}}/" />
        {% endif %}

        {% if page.next %}
            <link rel="next" href="ç{{page.next.url}}" />
        {% endif %}
    </head>
    <body>
        <script type="text/javascript">
            var password = prompt('My portfolio is password protected, please contact me for the password');
            if (password != '2024') {
                window.location = '{{site.baseurl}}'; // Redirect to another page
            }
        </script>

        <div class="book">

            {%- include toc-date.html -%}

            <div class="book-body">

                {%- include body.html -%}

            </div>

            <script>
            var gitbook = gitbook || [];
            gitbook.push(function() {
                gitbook.page.hasChanged({%- include metadata-post.json.tpl -%});
            });
            </script>
        </div>

        {%- include footer.html -%}

    </body>
</html>