<!DOCTYPE HTML>
<html lang="en" >
    <head>

        {%- include head.html -%}

        {% if page.previous %}
            <link rel="prev" href="{{site.baseurl}}{{page.previous.url}}" />
        {% else %}
            <link rel="prev" href="{{site.baseurl}}/" />
        {% endif %}

        {% if page.next %}
            <link rel="next" href="{{site.baseurl}}{{page.next.url}}" />
        {% endif %}
    </head>
    <body>
        <div class="book">

            {%- include toc-date.html -%}

            <div class="book-body">
                <div class="body-inner">
                    <div class="book-header" role="navigation">
                        <h1 style="margin-top:0;">
                            <i class="fa fa-circle-o-notch fa-spin"></i>
                            {% if page.title %}
                                {{ page.title | escape}}
                            {% else %}
                                {{ site.title | escape }}
                            {% endif %}
                        </h1>
                    </div>
                    <div class="page-wrapper" tabindex="-1" role="main">
                        <div class="page-inner">
                            <div id="book-search-results">
                                <div class="search-noresults">
                                        <section class="normal markdown-section">
                                            <h1 style="margin-top: 2em;">Objective: Run further than I did last year</h1>
                                            <p>I enjoy getting out for a run when I can. See below my results from the last 3 years. You can see more detail on <a href="https://www.strava.com/athletes/48068424">my Strava profile</a>.</p>
                                            <h2>Key result: Surpass last year's cumulative total</h2>
                                            <p></p>
                                            <section class="home-item-container" style="margin-bottom: 2em; margin-top: 1em;">
                                                <iframe width="600" height="370" seamless frameborder="0" scrolling="no" src="https://docs.google.com/spreadsheets/d/e/2PACX-1vSfyDnwSWeVybtDWx1b4qv14C8KgDCwRcj8obsnLl53fMgtahjJ3FZ4QefLueMygsuUAqwgQKgMBICm/pubchart?oid=1077191803&amp;format=interactive"></iframe>
                                                <iframe width="600" height="370" seamless frameborder="0" scrolling="no" src="https://docs.google.com/spreadsheets/d/e/2PACX-1vSfyDnwSWeVybtDWx1b4qv14C8KgDCwRcj8obsnLl53fMgtahjJ3FZ4QefLueMygsuUAqwgQKgMBICm/pubchart?oid=1824320270&amp;format=interactive"></iframe>
                                            </section>
                                            <section class="home-item-container" style="margin-bottom: 2em; margin-top: 1em;">
                                                <iframe width="315" height="102" seamless frameborder="0" scrolling="no" src="https://docs.google.com/spreadsheets/d/e/2PACX-1vSfyDnwSWeVybtDWx1b4qv14C8KgDCwRcj8obsnLl53fMgtahjJ3FZ4QefLueMygsuUAqwgQKgMBICm/pubchart?oid=912958432&amp;format=interactive"></iframe>
                                                <iframe width="315" height="102" seamless frameborder="0" scrolling="no" src="https://docs.google.com/spreadsheets/d/e/2PACX-1vSfyDnwSWeVybtDWx1b4qv14C8KgDCwRcj8obsnLl53fMgtahjJ3FZ4QefLueMygsuUAqwgQKgMBICm/pubchart?oid=1975095101&amp;format=interactive"></iframe>
                                                <iframe width="232" height="102" seamless frameborder="0" scrolling="no" src="https://docs.google.com/spreadsheets/d/e/2PACX-1vSfyDnwSWeVybtDWx1b4qv14C8KgDCwRcj8obsnLl53fMgtahjJ3FZ4QefLueMygsuUAqwgQKgMBICm/pubchart?oid=519026786&amp;format=interactive"></iframe>
                                                <iframe width="342" height="102" seamless frameborder="0" scrolling="no" src="https://docs.google.com/spreadsheets/d/e/2PACX-1vSfyDnwSWeVybtDWx1b4qv14C8KgDCwRcj8obsnLl53fMgtahjJ3FZ4QefLueMygsuUAqwgQKgMBICm/pubchart?oid=1724571077&amp;format=interactive"></iframe>
                                            </section>
                                            <h1 style="margin-top: 2em;">Objective: Run 5km in 21 minutes</h1>
                                            <h2>Key result 2: Reduce my average pace to 04:20 per km (and below)</h2>
                                            <p>If I can steadily reduce my average pace, I could potentially target a 21 minute 5k on a day where the legs are feeling good.</p>
                                            <section class="home-item-container" style="margin-bottom: 2em; margin-top: 1em;">
                                                <iframe width="1200" height="370" seamless frameborder="0" scrolling="no" src="https://docs.google.com/spreadsheets/d/e/2PACX-1vSfyDnwSWeVybtDWx1b4qv14C8KgDCwRcj8obsnLl53fMgtahjJ3FZ4QefLueMygsuUAqwgQKgMBICm/pubchart?oid=1708026747&amp;format=interactive"></iframe>
                                            </section>
                                            <section class="home-item-container" style="margin-bottom: 2em; margin-top: 1em;">
                                                <iframe width="300" height="102" seamless frameborder="0" scrolling="no" src="https://docs.google.com/spreadsheets/d/e/2PACX-1vSfyDnwSWeVybtDWx1b4qv14C8KgDCwRcj8obsnLl53fMgtahjJ3FZ4QefLueMygsuUAqwgQKgMBICm/pubchart?oid=1935333738&amp;format=interactive"></iframe>
                                                <iframe width="300" height="102" seamless frameborder="0" scrolling="no" src="https://docs.google.com/spreadsheets/d/e/2PACX-1vSfyDnwSWeVybtDWx1b4qv14C8KgDCwRcj8obsnLl53fMgtahjJ3FZ4QefLueMygsuUAqwgQKgMBICm/pubchart?oid=923277147&amp;format=interactive"></iframe>
                                                <iframe width="300" height="102" seamless frameborder="0" scrolling="no" src="https://docs.google.com/spreadsheets/d/e/2PACX-1vSfyDnwSWeVybtDWx1b4qv14C8KgDCwRcj8obsnLl53fMgtahjJ3FZ4QefLueMygsuUAqwgQKgMBICm/pubchart?oid=1781216306&amp;format=interactive"></iframe>
                                                <iframe width="300" height="102" seamless frameborder="0" scrolling="no" src="https://docs.google.com/spreadsheets/d/e/2PACX-1vSfyDnwSWeVybtDWx1b4qv14C8KgDCwRcj8obsnLl53fMgtahjJ3FZ4QefLueMygsuUAqwgQKgMBICm/pubchart?oid=1803872145&amp;format=interactive"></iframe>
                                            </section>
                                            <!-- <h3>Recovery rate</h3>
                                            <p>Calculated by subtracting heart rate 2 minutes after completion from the heart rate at completion. Scores are the average per period.</p>
                                            <section class="home-item-container" style="margin-bottom: 2em; margin-top: 1em;">
                                                <iframe width="600" height="223" seamless frameborder="0" scrolling="no" src="https://docs.google.com/spreadsheets/d/e/2PACX-1vSfyDnwSWeVybtDWx1b4qv14C8KgDCwRcj8obsnLl53fMgtahjJ3FZ4QefLueMygsuUAqwgQKgMBICm/pubchart?oid=696495919&amp;format=interactive"></iframe>
                                                <iframe width="600" height="223" seamless frameborder="0" scrolling="no" src="https://docs.google.com/spreadsheets/d/e/2PACX-1vSfyDnwSWeVybtDWx1b4qv14C8KgDCwRcj8obsnLl53fMgtahjJ3FZ4QefLueMygsuUAqwgQKgMBICm/pubchart?oid=1245426962&amp;format=interactive"></iframe>
                                            </section> -->
                                            <!-- <h3>Duration</h3>
                                            <p>Duration per period.</p>
                                            <section class="home-item-container" style="margin-bottom: 2em; margin-top: 1em;">
                                                <iframe width="600" height="223" seamless frameborder="0" scrolling="no" src="https://docs.google.com/spreadsheets/d/e/2PACX-1vSfyDnwSWeVybtDWx1b4qv14C8KgDCwRcj8obsnLl53fMgtahjJ3FZ4QefLueMygsuUAqwgQKgMBICm/pubchart?oid=331284599&amp;format=interactive"></iframe>
                                                <iframe width="600" height="223" seamless frameborder="0" scrolling="no" src="https://docs.google.com/spreadsheets/d/e/2PACX-1vSfyDnwSWeVybtDWx1b4qv14C8KgDCwRcj8obsnLl53fMgtahjJ3FZ4QefLueMygsuUAqwgQKgMBICm/pubchart?oid=222508994&amp;format=interactive"></iframe>
                                            </section> -->
                                            <!-- <h3>Distance</h3>
                                            <p>Distance per period.</p>
                                            <section class="home-item-container" style="margin-bottom: 2em; margin-top: 1em;">
                                                
                                            </section> -->
                                        </section>
                                    </section>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <script>
            var gitbook = gitbook || [];
            gitbook.push(function() {
                gitbook.page.hasChanged({%- include metadata-post.json.tpl -%});
            });
            </script>
        </div>

        {%- include footer.html -%}

    </body>
</html>