<!DOCTYPE HTML>
<html lang="en" >
    <head>

        {%- include head.html -%}

        {% if page.previous %}
            <link rel="prev" href="{{site.baseurl}}{{page.previous.url}}" />
        {% else %}
            <link rel="prev" href="{{site.baseurl}}/" />
        {% endif %}

        {% if page.next %}
            <link rel="next" href="{{site.baseurl}}{{page.next.url}}" />
        {% endif %}
    </head>
    <body>
        <div class="book">

            {%- include toc-date.html -%}

            <div class="book-body">
                <div class="body-inner">
                    <div class="book-header" role="navigation">
                        <h1 style="margin-top:0;">
                            <i class="fa fa-circle-o-notch fa-spin"></i>
                            {% if page.title %}
                                {{ page.title | escape}}
                            {% else %}
                                {{ site.title | escape }}
                            {% endif %}
                        </h1>
                    </div>
                    <div class="page-wrapper" tabindex="-1" role="main">
                        <div class="page-inner">
                            <div id="book-search-results">
                                <div class="search-noresults">
                                    <section class="normal markdown-section work-timeline">
                                        <section class="normal markdown-section">
                                            <h1>Running results</h1>
                                            <p style="margin-bottom: 2em;">My main objective this year is to run further than I did in 20221. I enjoy getting out for a run when I can. See below my results from the last 4 weeks. You can see more detail on <a href="https://www.strava.com/athletes/48068424">my Strava profile</a>.</p>
                                            <h2>OKR: Run further than I did last year</h2>
                                            <h3>Completion date (predicted)</h3>
                                            <p>This date is a prediction based on the distance I've run so far.</p>
                                            <section class="home-item-container" style="margin-bottom: 2em; margin-top: 1em;">
                                                <iframe width="600" height="172" seamless frameborder="0" scrolling="no" src="https://docs.google.com/spreadsheets/d/e/2PACX-1vSfyDnwSWeVybtDWx1b4qv14C8KgDCwRcj8obsnLl53fMgtahjJ3FZ4QefLueMygsuUAqwgQKgMBICm/pubchart?oid=1724571077&amp;format=interactive"></iframe>
                                            </section>
                                            <h3>km per year</h3>
                                            <p>Total distance per period.</p>
                                            <section class="home-item-container" style="margin-bottom: 2em; margin-top: 1em;">
                                                <iframe width="600" height="223" seamless frameborder="0" scrolling="no" src="https://docs.google.com/spreadsheets/d/e/2PACX-1vSfyDnwSWeVybtDWx1b4qv14C8KgDCwRcj8obsnLl53fMgtahjJ3FZ4QefLueMygsuUAqwgQKgMBICm/pubchart?oid=912958432&amp;format=interactive"></iframe>
                                                <iframe width="600" height="223" seamless frameborder="0" scrolling="no" src="https://docs.google.com/spreadsheets/d/e/2PACX-1vSfyDnwSWeVybtDWx1b4qv14C8KgDCwRcj8obsnLl53fMgtahjJ3FZ4QefLueMygsuUAqwgQKgMBICm/pubchart?oid=1975095101&amp;format=interactive"></iframe>
                                            </section>
                                            <h2>Stats</h2>
                                            <h3>Minuntes per km</h3>
                                            <p>Total duration divided by the total distance, per period.</p>
                                            <section class="home-item-container" style="margin-bottom: 2em; margin-top: 1em;">
                                                <iframe width="600" height="223" seamless frameborder="0" scrolling="no" src="https://docs.google.com/spreadsheets/d/e/2PACX-1vSfyDnwSWeVybtDWx1b4qv14C8KgDCwRcj8obsnLl53fMgtahjJ3FZ4QefLueMygsuUAqwgQKgMBICm/pubchart?oid=1781216306&amp;format=interactive"></iframe>
                                                <iframe width="600" height="223" seamless frameborder="0" scrolling="no" src="https://docs.google.com/spreadsheets/d/e/2PACX-1vSfyDnwSWeVybtDWx1b4qv14C8KgDCwRcj8obsnLl53fMgtahjJ3FZ4QefLueMygsuUAqwgQKgMBICm/pubchart?oid=1803872145&amp;format=interactive"></iframe>
                                            </section>
                                            <h3>Recovery rate</h3>
                                            <p>Calculated by subtracting heart rate 2 minutes after completion from the heart rate at completion. Scores are the average per period.</p>
                                            <section class="home-item-container" style="margin-bottom: 2em; margin-top: 1em;">
                                                <iframe width="600" height="223" seamless frameborder="0" scrolling="no" src="https://docs.google.com/spreadsheets/d/e/2PACX-1vSfyDnwSWeVybtDWx1b4qv14C8KgDCwRcj8obsnLl53fMgtahjJ3FZ4QefLueMygsuUAqwgQKgMBICm/pubchart?oid=696495919&amp;format=interactive"></iframe>
                                                <iframe width="600" height="223" seamless frameborder="0" scrolling="no" src="https://docs.google.com/spreadsheets/d/e/2PACX-1vSfyDnwSWeVybtDWx1b4qv14C8KgDCwRcj8obsnLl53fMgtahjJ3FZ4QefLueMygsuUAqwgQKgMBICm/pubchart?oid=1245426962&amp;format=interactive"></iframe>
                                            </section>
                                            <h3>Duration</h3>
                                            <p>Duration per period.</p>
                                            <section class="home-item-container" style="margin-bottom: 2em; margin-top: 1em;">
                                                <iframe width="600" height="223" seamless frameborder="0" scrolling="no" src="https://docs.google.com/spreadsheets/d/e/2PACX-1vSfyDnwSWeVybtDWx1b4qv14C8KgDCwRcj8obsnLl53fMgtahjJ3FZ4QefLueMygsuUAqwgQKgMBICm/pubchart?oid=331284599&amp;format=interactive"></iframe>
                                                <iframe width="600" height="223" seamless frameborder="0" scrolling="no" src="https://docs.google.com/spreadsheets/d/e/2PACX-1vSfyDnwSWeVybtDWx1b4qv14C8KgDCwRcj8obsnLl53fMgtahjJ3FZ4QefLueMygsuUAqwgQKgMBICm/pubchart?oid=222508994&amp;format=interactive"></iframe>
                                            </section>
                                            <h3>Distance</h3>
                                            <p>Distance per period.</p>
                                            <section class="home-item-container" style="margin-bottom: 2em; margin-top: 1em;">
                                                <iframe width="600" height="371" seamless frameborder="0" scrolling="no" src="https://docs.google.com/spreadsheets/d/e/2PACX-1vSfyDnwSWeVybtDWx1b4qv14C8KgDCwRcj8obsnLl53fMgtahjJ3FZ4QefLueMygsuUAqwgQKgMBICm/pubchart?oid=1935333738&amp;format=interactive"></iframe>
                                                <iframe width="600" height="371" seamless frameborder="0" scrolling="no" src="https://docs.google.com/spreadsheets/d/e/2PACX-1vSfyDnwSWeVybtDWx1b4qv14C8KgDCwRcj8obsnLl53fMgtahjJ3FZ4QefLueMygsuUAqwgQKgMBICm/pubchart?oid=923277147&amp;format=interactive"></iframe>
                                            </section>
                                        </section>
                                    </section>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <script>
            var gitbook = gitbook || [];
            gitbook.push(function() {
                gitbook.page.hasChanged({%- include metadata-post.json.tpl -%});
            });
            </script>
        </div>

        {%- include footer.html -%}

    </body>
</html>